/* =========== COMMON =========== */
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: opensans-bold;
  src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: opensans-regular;
  src: url(../fonts/OpenSans-Regular.ttf);
}

body {
  font-family: opensans-regular, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 15px;
  line-height: 22px;
}

.container {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.container-position {
  position: relative;
  z-index: 1;
}

/* =========== HEADER =========== */
.header-tittle {
  font-family: opensans-bold, sans-serif;
  font-size: 45px;
  line-height: 75px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  max-width: 800px;
  margin: auto;
  padding: 100px 0;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
}

.menu-link:hover {
  text-decoration: underline;
}

.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  position: relative;
  padding: 30px 0;
  margin-bottom: 55px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
}

.header::after {
  content: "";
  background-color: #000000;
  opacity: 0.45;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
/* =========== TREND =========== */
.wrp-trend {
  
}
.trend {
  display: flex;
  flex-direction: column;
  

  width: 365px;
  height: 140px;
  border: 3px solid #b59f5b;

  max-height: 300px;
  z-index: 2;
  position: absolute;
}
.trend-content {
  display: flex;
  gap: 5px;
}
.picture {
  min-height: 315px;
  width: 400px;
  position: relative;
  z-index: 1;
}

.picture::before {
  content: "";
  display: block;
  background-color: #000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.6;
}

.picture-first {
  background-image: url(../images/trend1.jpg);
}

.picture-second {
  background-image: url(../images/trend2.jpg);
}

.picture-third {
  background-image: url(../images/trend3.jpg);
}

.picture-end {
  background-image: url(../images/trend4.jpg);
}

.post-trend {
  color: #fff;
  font-weight: normal;
  font-size: 16px;
}

/* =========== MAIN =========== */

.container-main {
  margin-top: 60px;
  margin-bottom: 50px;
}

.container-posts {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}

.posts {
  width: 780px;
}

.post {
  display: flex;
}

.post:not(:first-child) {
  margin-top: 60px;
}

.post-content {
  margin-left: 30px;
}

.post-tags {
  display: flex;
  gap: 23px;
  font-family: opensans-bold, sans-serif;
  color: #b59f5b;
  font-size: 15.7px;
  text-transform: uppercase;
  line-height: 40px;
}

.post-text > p {
  font-size: 15px;
  line-height: 22px;
  margin: 0;
}

.post-text > p:not(:first-child) {
  margin-top: 16px;
}

.post-tittle {
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.post-tittle-link:hover {
  color: #b59f5b;
}

.post-tag-link:hover {
  text-decoration: underline;
}
.post-tittle-trend {
  font-family: opensans-bold, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
}
.post-meta {
  display: flex;
  align-items: baseline;
  gap: 15px;
  margin: 37px 0 55px;
}
.post-author {
  font-family: opensans-bold, sans-serif;
  font-size: 12px;
  line-height: 40px;
  color: #000000;
  font-style: normal;
  font-weight: 700;
}
.post-date {
  font-size: 12px;
  color: #888888;
  line-height: 40px;
}

.paragraf {
  margin-top: 22px;
}

.new {
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  line-height: 29.15px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.new-post-tittle {
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-left: 20px;
}

.new {
  position: relative;
  margin-bottom: 27px;
  text-align: center;
}

.new-posts {
  width: 272px;
  margin-bottom: 62px;
}

.new:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 3px;
  background: #e1d9bd;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
}

.new-post-tittle-link:hover {
  color: #b59f5b;
}

.new-post-date {
  font-size: 12px;
  color: #888888;
  display: block;
  margin-left: 20px;
  margin-bottom: 10px;
}

.new-post-image {
  width: 69px;
  height: 69px;
}

.new-post {
  display: flex;
}

.new-post:not(:first-child) {
  margin-top: 22px;
}

.post-search-form {
  display: flex;
  margin-top: 60px;
}

.post-search-input {
  width: 222px;
  height: 47px;
  background-color: #f4f7f6;
  border: none;
  padding-left: 19px;
}

.post-search-input:focus {
  outline: 2px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

.post-search-button {
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  border: none;
  width: 49px;
  height: 48px;
  background-size: 20px;
  background-position: center;
}
::placeholder {
  padding-left: 20px;
}
.post-search-button:hover {
  background-color: #323232;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.email-input {
  width: 272px;
  height: 47px;
  background-color: #f4f7f6;
  border: none;
  margin-top: 23px;
  padding-left: 19px;
}

.email {
  margin-bottom: 60px;
}

.email-input:focus {
  outline: 2px solid #b59f5b;
}

.subscription-button {
  width: 272px;
  height: 47px;
  background-color: #b59f5b;
  border: none;
}
.subscription-button:hover {
  background: #323232;
}
.subscription {
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  color: #f1eee4;
}

.tags-item {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-family: opensans-bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  border: 5px solid #eeeeee;
  margin-right: 6px;
  margin-bottom: 6px;
}

.tag-link {
  display: block;
  padding: 8px 13px 8px 13px;
}

.tag:hover {
  border: 5px solid #b59f5b;
}

.tems:nth-child(n + 1) {
  border-bottom: 2px solid #eeeeee;
}

.tems {
  padding: 17px 0;
  font-family: opensans-bold, sans-serif;
  font-size: 14px;
}

.tems-link:hover {
  color: #b59f5b;
}

.number-link {
  color: #b59f5b;
  font-size: 12px;
  vertical-align: super;
}

/* =========== SHOP =========== */

.shop-section {
  display: flex;
  margin-left: 180px;
  margin-top: 30px;
}

.shop-post-image {
}

.shop-description {
  text-align: left;
  border: 3px solid #b59f5b;
  width: 340px;
  height: 265px;
  padding-top: 65px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: -40px;
}

.wrp-description {
  align-items: center;
  flex-grow: 2;
}

.shop-post-media {
  margin-bottom: 20px;
}

.product-prices {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
}

.wrp-price {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-top: 30px;
}

.product-text {
  color: #b69f5b;
}
.product-old-price {
  font-size: 10px;
  font-weight: bold;
  text-decoration: line-through;
}
.product-new-price {
  font-weight: bold;
}
.shop-title {
  font-size: 15px;
  color: #51534e;
}
.button-shop {
  width: 135px;
  height: 44px;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
  border: none;
  background-color: #b59f5b;
  color: #fff;
  font-weight: bold;
}

.button-shop:hover {
  background-color: #323232;
}

/* =========== FOOTER =========== */

.footer {
  margin-top: 60px;
}

.social-address {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.footer-wrapper {
  width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.social-icon {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  width: 24px;
  height: 24px;
}

.social-icon:hover {
  background-size: 24px;
}

.dribble-icon {
  background-image: url(../svg/001-dribbble.svg);
}

.pinterest-icon {
  background-image: url(../svg/001-pinterest.svg);
}
.tumblr-icon {
  background-image: url(../svg/003-tumblr.svg);
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
  margin-bottom: 40px;
  font-size: 12px;
  color: #bfbfbf;
}
